{% extends '_templates/base.html.twig' %}
{% set module = 'bookings' %}

{% block title %}New Booking{% endblock %}

{% block body %}

    <h1 class="mt-4 mb-3 text-center">New Booking</h1>

    {% include "_parts/breadcrumbs/_createBookingBreadCrumb.html.twig" with { 'editStage': '1' } %}

    {% include "_parts/forms/_confirmCreateBookingForm.html.twig" with {
        'action': path('app_booking_process_and_show_confirmation'),
        'hasUserId': false,
        "hasCsrf": true,
        'csrfName': '_csrf_token',
        'csrfValue': csrf_token('newBookingConfirmation'),
        'bookable': bookable,
        'fromDate': fromDate,
        'toDate': toDate,
        'returnTo': 'window.history.back();',
        'returnLbl': 'Modify',
        'submitLbl': 'Confirm'
    } %}

{% endblock %}



