{% extends '_templates/base.html.twig' %}
{% set module = 'bookings' %}

{% block title %}New Booking{% endblock %}

{% block body %}

    <h1 class="mt-4 mb-3 text-center">New Booking</h1>

    {% include "_parts/breadcrumbs/_createBookingBreadCrumb.html.twig" with { 'editStage': '2' } %}

    {% include "_parts/booking/_bookingDetails.html.twig" with {
        'isBookedInPlanning': false,
        'booking': booking,
        'goToPath': path('app_booking_showallbookings'),
        'goToLbl': 'To Bookings'
    } %}

{% endblock %}



