// Colors
$primary-color-light: #00AAA3;
$primary-color: #068A85;
$primary-color-dark: #005652;

$secondary-color-light: #00B5FF;
$secondary-color: #4490F9;
$secondary-color-dark: #0055B5;

$tertiary-color-light: #FF7FBB;
$tertiary-color: #F05D7F;
$tertiary-color-dark: #CB3A61;

$text-light: #E6F4EE;
$text-dark: #334B49;

$backgound-light: #ECFDFB;
$backgound-dark: #002B29;

// Layout
$login-form-width: 600px;

// Normalization
$standard-border-radius: 10px;