{% extends 'base.html.twig' %}

{% block title %}Office Overview{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('overview') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('overview') }}
{% endblock %}

{% block body %}
    <h1 class="mt-3 mb-2 text-center">Office Overview</h1>
    <div class="container">
        <input id="datePicker" type="date">
        <div id="konva-container" style="border: 1px solid black"></div>
        <div class="row mt-2 mb-3 justify-content-center">
            <a type="button" id="konva-submit" class="col-4 btn btn-lg btn-primary text-black" value=""></a>
        </div>
    </div>
{% endblock %}
