{% extends '_templates/base.html.twig' %}
{% set module = 'overview' %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mapComponent') }}
{% endblock %}

{% block styles %}
    {{ parent() }}
    {{ encore_entry_link_tags('mapComponent') }}
{% endblock %}

{% block title %}Overview{% endblock %}

{% block body %}

    <h1 class="mt-4 mb-3 text-center">Overview</h1>

    <div class="container">
        <div id="app"></div>
    </div>

{% endblock %}
