{% extends 'login/_parts/_login_template.html.twig' %}

{% block form %}
    <div class="loginform__form py-3 px-1 p-md-3 rounded-3">
        <p>
            If an account matching your email exists, then an email was just sent that contains a link that you can use
            to reset your password.
            This link will expire
            in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>If you don't receive an email please check your spam folder or <a
                    href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
        <a class="btn btn-primary text-center" href="{{ path('app_login') }}">To Login</a>
    </div>
{% endblock %}
