{% extends 'login/_parts/_login_template.html.twig' %}

{% block form %}

    {{ form_start(requestForm,
        {attr: {class: 'loginform__form py-3 px-1 p-md-3 rounded-3'}},
    ) }}
    <p>Reset your password</p>
    {{ form_row(requestForm.email) }}
    <div>
        <small>
            Enter your email address and we will send you a
            link to reset your password.
        </small>
    </div>
    <a class="btn btn-primary bg-light m-3" href="{{ path('app_login') }}">To Login</a>
    <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
{% endblock %}
