{% extends '_templates/base.html.twig' %}
{% set module = 'options' %}

{% block title %}User Panel{% endblock %}

{% block body %}

    <h1 class="mt-4 mb-3 text-center">Change Email</h1>

    <div class="p-3 bg-light rounded border border-primary border-1">
        <p>Change email page!</p>
    </div>

{% endblock %}