{% extends '_templates/base.html.twig' %}
{% set module = 'options' %}

{% block title %}User Panel{% endblock %}

{% block body %}

    <h1 class="mt-4 mb-3 text-center">User Panel</h1>

    <div class="p-3 bg-light rounded border border-primary border-1">
        <p>Email: {{ app.user.email }}</p>
        <ul>
            <li><a href="{{ path('app_userpanel_changepassword') }}">Change password</a></li>
            <li><a href="{{ path('app_userpanel_changeemail') }}">Change email</a></li>
            <li><a href="#">Delete account</a></li>
        </ul>
    </div>

{% endblock %}