{% extends '_templates/base.html.twig' %}
{% set module = 'bookings' %}
{% set has_bookings = app.session.get("has_bookings_#{app.user.id}", false) %}
{% set has_ongoing_bookings = app.session.get("has_ongoing_bookings_#{app.user.id}", false) %}
{% set has_only_past_bookings = app.session.get("has_only_past_bookings_#{app.user.id}", false) %}

{% block title %}All Bookings{% endblock %}

{% block main_header %}All Bookings{% endblock %}

{% block body %}

    {% if has_bookings %}

        {% if has_ongoing_bookings %}
            <p class="text-center">Make a <a href="{{ path('app_booking_new') }}">new booking</a>
        {% else %}
            <p class="text-center">No ongoing bookings, make a <a href="{{ path('app_booking_new') }}">new booking</a>
        {% endif %}

        {% include "_parts/tables/_list_all_bookings_table.html.twig" %}

        {% if pager.nbPages > 1 %}
            {% include "_parts/pagers/_list_bookings_pager.html.twig" %}
        {% endif %}

        {% include "_parts/modals/_confirm_deletion_modal.html.twig" with {
            "action": path('app_booking_delete'),
            "hasSelecteduser": false,
            "csrfValue": csrf_token('deleteBooking'),

        } %}
    {% endif %}

    {% if not has_bookings %}
        <p class="text-center">No past or ongoing Booking found, make a <a href="{{ path('app_booking_new') }}">new booking</a>
    {% endif %}

{% endblock %}