{% extends '_templates/base.html.twig' %}
{% set module = 'bookings' %}

{% block title %}All Bookings{% endblock %}

{% block main_header %}All Bookings{% endblock %}

{% block body %}

    {% if hasBookingsMade %}

        {% if hasOngoingBookings %}
            <p class="text-center">Make a <a href="{{ path('app_booking_new') }}">new booking</a>
        {% else %}
            <p class="text-center">No ongoing bookings, make a <a href="{{ path('app_booking_new') }}">new booking</a>
        {% endif %}

        {% include "_parts/tables/_list_all_bookings_table.html.twig" with {
            "selectedCol": app.request.query.alpha('col')|default('resource'),
            "selectedOder": app.request.query.alpha('ord')|default('asc'),
            "pastBookings": app.request.query.boolean('past')|default(false),
            "pager": pager,
            "currentDate": 'now'|date_modify('midnight')|date(),
        } %}

        {% if pager.nbPages > 1 %}
            {% include "_parts/pagers/_list_bookings_pager.html.twig" with { "pager": pager } %}
        {% endif %}

        {% include "_parts/modals/_confirm_deletion_modal.html.twig" with {
            "action": path('app_booking_delete'),
            "hasSelecteduser": false,
            "hasCsrf": true,
            "csrfName": "_csrf_token",
            "csrfValue": csrf_token('deleteBooking'),

        } %}
    {% endif %}

    {% if not hasBookingsMade %}
        <p class="text-center">No past or ongoing Booking found, make a <a href="{{ path('app_booking_new') }}">new booking</a>
    {% endif %}

{% endblock %}