{% extends 'base.html.twig' %}

{% block title %}Seatmap{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('sketch') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('sketch') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Seatmap Component</h1>
    </div>
    <div class="container">
        <input id="datePicker" type="date">
        <div id="konva-container" style="border: 1px solid black"></div>
        <div class="row justify-content-center">
            <a type="button" id="konva-submit" class="col-4 btn btn-lg btn-primary text-black" value=""></a>
        </div>
    </div>
{% endblock %}
