{% extends 'base.html.twig' %}

{% block title %}Seatmap{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('sketch') }}
{% endblock %}

{% block body %}
    <input id="datePicker" type="date">
    <div id="container"></div>
    <div id="desk_information_modal"></div>
{% endblock %}
