{% extends 'base.html.twig' %}

{% block title %}Seatmap{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('seatmap') }}
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <canvas>Canvas not loaded...</canvas>
</div>
{% endblock %}
