<div class="row">
    <nav class="my-4 col-12 d-flex justify-content-around" aria-label="breadcrumb">
        <div class="d-flex py-2 px-3 border rounded">
            <ol class="breadcrumb m-0 justify-content-center">
                <li class="breadcrumb-item {{ editStage == 0 ? 'active' }}">Edit</li>
                <li class="breadcrumb-item {{ editStage == 1 ? 'active' }}">Confirm</li>
                <li class="breadcrumb-item {{ editStage == 2 ? 'active' }}">Edited</li>
            </ol>
        </div>
    </nav>
</div>