<!-- Modal -->
<div class="modal fade" id="deleteConfirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Deletion Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete booking confimation <span id="data-bs-confirmation"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <form action="{{ action }}" method="post">
                    <input type="hidden" name="booking" id="bookingId" value="">

                    {% if hasSelecteduser %}
                        <input type="hidden" name="user" id="userid" value="{{ selectedUser.id }}">
                    {% endif %}

                    <input type="hidden" name="_csrf_token" value="{{ csrfValue }}">

                    <button id="deleteConfirmationBtn" type="submit" class="btn btn-danger" data-booking-id="">DELETE</button>
                </form>
            </div>
        </div>
    </div>
</div>